<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="headnav">
        <img src="../../Navbar and bottom panel/images/Screenshot (110).png">
    </div>
    <div id="navmobile">
        <div class="navmobfirst">
            <img src="../../Navbar and bottom panel/images/743930_button_512x512.png">
            <img src="../../Navbar and bottom panel/images/magnifying-glass-icon-13.png">
        </div>
        <div><img src="./images/Screenshot (109).png"></div>
        <div class="navmoblast">
            <img src="./images/OIP.jpg">
            <img src="./images/img_290616.png">
        </div>
    </div>
    <div id="huznav">
        <a><img src="./images/Screenshot (109).png"></a>
        <div class="huz_content">
            <p>ALL PRODUCTS</p>
            <p>BESTSELLERS</p>
            <p>OFFERS</p>
            <p>SELFIE SWITCH</p>
            <p>BUILD A BOX</p>
            <p>BY CATEGORY</p>
            <p>BY CONTENT</p>
            <p>BY CONCERN</p>
            <p>BY INGREDIENTS</p>
            <p>BY COMBOS</p>
            <p>OUR CELEBRITIES</p>
            <p>NATURAL SOAP</p>
            <p>MORE</p>
        </div>
        <div class="navicons">
            <img src="./images/magnifying-glass-icon-13.png"/>
            <img src="./images/OIP.jpg">
            <img src="./images/img_290616.png">
        </div>
    </div>
</body>
</html>